div {
    width: 500px;
    height: 300px;
    border: 1px solid gray;
    margin-bottom: 30px;
}

.div1 {
    background-color: blue;
    position: relative;
    top: 40px;
    left: 70px
}

.div2 {
    background-color: green;
}
