
.header-area {

  border: 1px solid rgb(182, 177, 177);
  padding: 10px;
  border-radius: 10px;

}

.header-form {

  display: flex;
  flex-direction: column;

}

.header-label {
  font-size: 20px;
  color: rgb(75, 75, 180);
  margin-bottom: 5px;
}

.header-input {
  border: 1px solid rgb(182, 177, 177);
  padding: 10px;
  border-radius: 10px;

}
